/********************* header **********************/
#main-header{
  background-color: #287cb6;
  border: none;
}
.navbar{
  background-color: #0066ff;
}
.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}
h1{
  font-weight: bolder;
  color: #ffffff;
  margin-top: 0;
  margin-left: 45px;
}
#login-btn{
  margin-top: 25px;
}
#login-btn-div{
  width: 160px;
}
label{
  color: #ffffff;
}
/**end header**/

/******************* body **********************/
body{
  background-color: #cecece;
  border: none;
}

#body h2, h4{
  color: #2E2E2E;
}
#body h2{
  font-weight: bold;
}
body{
 border: none;
}

.thumnail{
 width: 170px;
 border: none;
 border-radius: 5px
}
#createAccForm label{
  color: black;
  font-weight: 700;
}
#memo{
 color: #2E2E2E;
 font-size: .8em;
 width: 250px;
}
#question{
  font-size: .8em;
  width: 200px;
}
#question a{
  color: #2E2E2E;
  text-decoration: none;
}
#question a:hover, #question a:focus{
  color: #2E2E2E;
  text-decoration: underline;
}
#btn-signUp{
  width: 200px;
}
#createPage{
  font-size: .8em;
}
#createPage a{
  color: #0000ff;
  text-decoration: none;
}
#createPage a:hover, #createPage a:focus{
  text-decoration: underline;
}
.caption p{
  text-align: center;
}
/**End body**/

/******************* footer **********************/
.panel-footer{
  background-color: #ffffff;
  color: #2e2e2e;
}
.panel-footer li{
  font-size: small;
}
/**end footer**/

  




